<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="icon"
      href="https://i.postimg.cc/Ss21pvVJ/Favicon.png"
      type="image/png"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/Styles/styles.css" />
    <title>Kolae</title>
  </head>
  <body>
    <div class="container">
      <div>
        <h1>Quadra do Xuxa</h1>
        <img src="/assets/Img/Quadra do xuxa.jpeg"" />
      </div>
      <div>
        <div>
          ⭐⭐⭐⭐
          <p>4,7 67 avaliações</p>
        </div>
        <div>
          <h2>Dono da quadra</h2>
          <img src="/assets/Img/Dono da quadra.jpeg" alt="" />
          <p>Eduardo Bolsonaro</p>
          <p>1 ano de Kolae</p>
        </div>
        <div>
          <h2>Esportes práticados</h2>
          <div>
            <li>Futebol</li>
          </div>
        </div>
        <div>
          <h2>Áreas de lazer</h2>
          <div>
            <li>Churrasqueira</li>
            <li>Bar</li>
          </div>
        </div>
        <div>
          <img src="/assets/Img/Guilherme.png" alt="" />
          <h3>Guilherme Schumacher</h3>
          <p>Gostei muito da quadra, volterei mais vezes!</p>
          <button>Mostrar todos os comentários</button>
        </div>
      </div>
    </div>
  </body>
</html>
